@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Modules.Entities.BlogPost>
<h2>Blog Posts</h2>
<a asp-action="Create" class="btn btn-primary">New Post</a>
<table class="table">
    <tr>
        <th>Title</th><th>Status</th><th>Actions</th>
    </tr>
    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Status</td>
            <td>
                <a asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>